<?xml version="1.0" encoding="UTF-8"?>
<web-app id="mylogintest" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Login Test</display-name>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <!--
    <servlet>
        <servlet-name>Vulperium Login</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UIProvider</param-name>
            <param-value>com.vaadin.cdi.CDIUIProvider</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Vulperium Login</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    -->

    <servlet>
        <servlet-name>Vulperium App</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UIProvider</param-name>
            <param-value>com.vaadin.cdi.CDIUIProvider</param-value>
        </init-param>
        <init-param>
            <param-name>ViewProvider</param-name>
            <param-value>com.vaadin.cdi.CDIViewProvider</param-value>
        </init-param>
        <init-param>
            <param-name>UI</param-name>
            <param-value>at.vulperium.fe.base.BaseUI</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Vulperium App</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Wird nicht mehr hier benoetigt da mittels CDI gearbeitet wird
    <servlet>
        <servlet-name>VulperiumLogin</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>at.vulpes.fe.LoginView</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>VulperiumLogin</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    -->

    <!-- SHIRO -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>at.vulperium.fe.login.LoginFilter</filter-class>
        <init-param>
            <param-name>dropurl.0</param-name>
            <param-value>/HEARTBEAT/</param-value>
        </init-param>
        <init-param>
            <param-name>dropurl.1</param-name>
            <param-value>vulperiumLogin/login</param-value>
        </init-param>
        <init-param>
            <param-name>dropurl.2</param-name>
            <param-value>/VAADIN/</param-value>
        </init-param>
        <!-- Darf nicht gedropt werden! Filtering bei Login verhinden
        <init-param>
            <param-name>dropurl.3</param-name>
            <param-value>/UIDL/</param-value>
        </init-param>
        -->
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>